@sidebarWidth: 360px;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#visualization {
	margin-right: @sidebarWidth;
	height: 100%;

	canvas {
		height: 100%;
		width: 100%;
		background: black;
	}
}

#synthesizer {
	position: absolute;
	top: 0;
	right: 0;
	width: @sidebarWidth;
	height: 100%;
	background: grey;
}
