<template name="synthesizer">
<div id="synthesizer">
  <section>
  <div class="header">
    <h2>Osc 1</h2>
  </div>
  <div class="controls">
    <div id="oscRatio"></div>
  </div>
  </section>
  <section>
  <div class="header">
    <h2>Osc 2</h2>
  </div>
  </section>
  <section>
  <div class="header">
    <h2>Filter</h2>
  </div>
  <div class="controls">
    <div id="filterFrequency"></div>
    <div class="envelope">
      <div class="slider"></div>
      <div class="slider"></div>
      <div class="slider"></div>
      <div class="slider"></div>
    </div>
  </div>
  </section>
</div>
</template>
