<template name="synthesizer">
<div id="synthesizer">
  <section id="oscillator">
  <div class="osc1 header">
    <h2>Osc 1</h2>
  </div>
  <div class="osc2 header">
    <h2>Osc 2</h2>
  </div>
  <div class="controls">
    <h5 class="type">TYPE</h5>
    <h5 class="gain">GAIN</h5>
    <div class="row">
      <canvas width=75 height=75 id="osc1Type"></canvas>
      <div id="osc1Gain"><div value=100 class="knob" data-thickness=.12 data-width=70 data-height=70 data-displayInput=false data-angleOffset=180></div></div>
    </div>
    <div id="oscRatio"></div>
    <div class="row">
      <h5 class="ratio">RATIO</h5>
    </div>
    <div class="row">
      <canvas width=75 height=75 id="osc2Type"></canvas>
      <div id="osc2Gain"><div value=100 class="knob" data-thickness=.12 data-width=70 data-height=70 data-displayInput=false data-angleOffset=180></div></div>
    </div>
    <h5 class="osc2 type">TYPE</h5>
    <h5 class="gain">GAIN</h5>
  </div>
  </section>
  <section id="filter">
  <div class="header">
    <h2>Filter</h2>
  </div>
  <div class="controls">
    <h5 class="filterT">TYPE</h5>
    <h5 class="filterR">RESONANCE</h5>
    <div class="row">
      <canvas width=75 height=75 id="filterType"></canvas>
      <div id="filterResonance"><div value=100 class="knob" data-thickness=.12 data-width=70 data-height=70 data-displayInput=false data-angleOffset=180></div></div>
    </div>
    <div id="filterFrequency"></div>
    <div class="row">
      <h5 class="cutoff">CUTOFF</h5>
    </div>
    <div id="filterEnvelope" class="envelope">
      {{#constant}}
      <canvas width=200 height=100 id="filterEnvelopeCanvas"></canvas>
      {{/constant}}
      <div class="attack slider"></div>
      <div class="decay slider"></div>
      <div class="sustain slider"></div>
      <div class="release slider"></div>
      <h5 class="A">A</h5>
      <h5 class="D">D</h5>
      <h5 class="S">S</h5>
      <h5 class="R">R</h5>
    </div>
  </div>
  </section>
  <section id="other">
    <div class="header">
      <h2>OTHER FX</h2>
    </div>
    <div class="controls">
      <select name="effect">
        <option value="TwitchTV">TwitchTV</option>
        <option value="own3D">own3D</option>
      </select>
    </div>
  </section>
</div>
</template>
