<template name="synthesizer">
<div id="synthesizer">
  <section>
  <div class="header">
    <h2>Osc 1</h2>
  </div>
  <div class="controls">
    <input data-width="70"
    data-height="70"
    data-fgColor="#C0ffff"
    data-thickness=".1"
    data-angleOffset="180" class="knob" />
    <input data-width="70"
    data-height="70"
    data-fgColor="#C0ffff"
    data-thickness=".1"
    data-angleOffset="180" class="knob" />
  </div>
  </section>
  <section>
  <div class="header">
    <h2>Osc 2</h2>
  </div>
  </section>
  <section>
  <div class="header">
    <h2>Filter</h2>
  </div>
  </section>
</div>
</template>
